.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "H HImage"
    "MImage M"
    "C CImage"
    "LImage L"
    "P PImage"
    "Contact Input";

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "H"
      "HImage"
      "M"
      "MImage"
      "C"
      "CImage"
      "L"
      "LImage"
      "P"
      "PImage"
      "Contact"
      "Input";
  }
}
